@use "mixins.scss";
@forward "_helpers.scss";

.stepper {
    position: relative;
    padding: 12px;
    background-color: var(--white);
    border-radius: 12px;
    text-align: center;

    .item {
        position: relative;

        &:not(:last-of-type)::after {
            content: "";
            position: absolute;
            top: 16px;

            height: 2px;
            width: 100%;

            background: url("assets/images/lines.svg") no-repeat center / cover;
        }

        &.active,
        &.active ~ .item {
            .number {
                background: var(--white);
                border: 1px solid #e9eaeb;

                &::after {
                    content: none;
                }
            }
        }

        &.active {
            & ~ .item {
                opacity: 0.6;
            }
        }
    }

    .number {
        @include mixins.bg(32, 32, 16, #079455);

        color: var(--secondary);

        font-size: var(--text-sm);
        font-weight: 600;

        position: relative;
        margin: auto;

        &::after {
            @extend .absolute-center;

            content: "";
            background: url("assets/images/icons/check.svg") no-repeat center / cover;
            z-index: 10;

            width: 100%;
            height: 100%;
        }
    }

    .title {
        font-size: var(--text-md);
        font-weight: 600;
        color: var(--secondary);
        margin-block: 16px 2px;
    }

    .description {
        color: #535862;
    }
}
