.form-control {
    height: 44px;
    border: 1px solid #d5d7da;
    box-shadow: 0 1px 2px 0 rgba(10, 13, 18, 0.05);

    &.invalid {
        background: url("assets/images/icons/alert-circle.svg") no-repeat calc(100% - 14px);
        border-color: #fda29b;
        box-shadow: 0px 1px 2px 0px rgba(0 0 0 / 5%);
    }
}

.input-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;

    margin-block: 20px;
    padding-block: 0 !important;

    input {
        flex-grow: 1;
        height: 100%;
        border: none;
    }
}
